.TodayWeekly{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.TodayWeekly_div_inner{
    border:7px solid rgb(95, 113, 132);
    color:rgb(95, 113, 132);
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    width: 28%;
}
.TodayWeekly_div_inner_p{
    margin: 0 auto;
    text-align: center;
}
.TodayWeekly_div_inner_div{
    color:white;
    background-color:#16a085;
    font-size:30px;
    height: 98px;
    width: 50%;
    display: flex;
    align-items: center;
}

.title-m {
    margin: 0 auto;
    width: 50%;
    font-size: 25px;
}


.Todayweekly_div_div{
    font-size: 30px;
}

.TodayWeekly_div_inner_p_p{
    font-size: 28px;
}
#TodayWeeklyExcept{
    background-color:rgb(209,0,0)
}

@media all and (max-width: 679px) {
    .TodayWeekly {
        flex-direction: column;
        width: 360% !important;
    }

    .TodayWeekly_div_inner {
        margin-bottom: 5px;
    }
}
