.barchart_div{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
@media all and (max-width: 676px) {
    .main-chart {
        width: 30rem;
    }
}
@media all and (max-width: 508px) {
    .main-chart {
        width: 25rem;
    }
}
@media all and (max-width: 418px) {
    .main-chart {
        width: 21rem;
    }
}
.barchart_exception{
    color:transparent;
}
.barchart_button1{
    padding: 10px 15px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color:rgb(95, 113, 132);
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
    width:5.5rem;
    margin-top: 2rem;
    height: 40px;
}
.barchart_button2{
    padding: 10px 15px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: rgb(95, 113, 132);
    border: none;
    cursor: pointer;
    font-weight: bold;
    color:white;
    width:5.5rem;
    margin-top: 2rem;
    height: 40px;
}
#barchart_button1_1{
    background-color:#16a085;
}
#to #from{
    background: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #16a085;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 2rem;
}
.barchart_div2 {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.barchart_div3{
  margin-left: 50px;
  margin-top: 33px;
}

.barchart_div4{
    margin-left: 50px;
    margin-top: 33px;
}
#barchart_div3_id{
    display: none;
}
  





@media all and (max-width: 490px) {
    .barchart_div3 {
        margin: 0 auto;
        margin-top: 20px;

    }
}

@media all and (max-width: 437px) {
    .barchart_div3 {
       text-align: center;
    }
    .chart-calendar-to {
        margin-top: 5px;
    }
}