.category_popup_div2{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.category_popup_div1{
    display: flex;
    justify-content: end;
    flex-direction: column;
    text-align: center;
    margin-top: 35px;
}
.category_popup_p{
    text-align: center;
    font-size: 15px;
    background: none;
}
.category_popup_p:hover{
   cursor: pointer;
}
.category_popup_button{
    border: none;
    background: none;
    background-color: transparent;
}
#category_popup_i{
    font-size:40px;
    color:rgb(209,0,0)
}

#clearfix_i{
    display:inline-block;
    font-size:24px
}

/* @media all and (max-width: 805px) {
    .category_popup_div1{
        position: relative;
        left: 50% !important;
    }
} */

