 .category_div{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    margin-top: 3rem;
    width: 90%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.category_div_inner{
    display: flex;
    flex-direction: column;
}
.category_div_p1{
    color:rgb(95,113,132)
}
.category_div_inner1{
    color: #16a085;
    margin-bottom: -5px;
}
#category_except{
    color:rgb(209,0,0)
}
#category_div_i{
    margin-bottom: 10px;
    font-size:50px;
    color:rgb(95, 113, 132);
    position: relative;
    right: 20%;
}
.category_div_button{
    border:none;
    background-color: transparent; 
}
.category_popup_div2_drop{
    color:#ccc;
    font-weight:bold;
    display:flex;
    justify-content:space-between;
    width:50%;
    margin: 0 auto !important;
    margin-top: 10px !important;
    
}
.category_popup_div2-1{
    display: flex;
    
}

#category_popup_div2_input{
    margin-top: 9px;
}

#category_popup_div2-1_input{
    cursor:pointer;
    margin-top: 0.7rem;
    width:70%;
}
.category_popup_div2-1_label{
    display:block;
    color:rgb(95, 113, 132);
    font-weight:bold;
    font-size:15px;
}
.category_div_inner1{
    display: flex;
}
.category_div_inner2_22{
    display: flex;
    flex-direction: column;
    color: rgb(95, 113, 132);
    position: relative;
    top:0.8rem
}
.category_div_inner2_button{
    border: none;
    background: none;
    background-color: transparent;
    color: rgb(95, 113, 132);
}

#disable-opacity {
    opacity: 1 !important;
    border: 1px solid #a6a6a6 !important;
}