.Filter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.Filter_div2{
    display: flex;
    
}
.Filter_div1{
    color:rgb(95, 113, 132);
    font-weight:bold;
    font-size:45px;
    
}

@media all and (max-width: 425px) {
    .p-component {
        width: 150px !important;
    }
}




