.save-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media all and (max-width: 852px) {
  .save-wrapper {
    justify-content: center;
  }
  .form-save {
    width: 100% !important;
  }
}

