.account_div{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin-left:1rem;
}
@media all and (max-width: 475px) {
    .account_div {
        justify-content: center;
    }
}
.account_div_p{
    color:rgb(95, 113, 132);
    font-weight:bold;
    font-size:45px
}
.account_div2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width:100%;
    overflow-x: hidden;
}