#balance_div{
    border-radius: 50%;
    width:20rem;
    height:20rem; 
    border: 10px solid rgb(95, 113, 132);
    margin: 0 auto;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.title-balance {
    color: black;
    font-weight: bold;
    font-size: 35px;
}

.balance_inner{
    margin: 0 auto;
}

.green {
    color: #16a085;
    font-size: 25px;
}

.red {
    color: red;
    font-size: 19px;
    
}

.p_balance_inner{
    
}




#balance_div{
    display: flex;
    flex-wrap: wrap;
}
#balance_except{
    color:rgb(209,0,0)
}