.transaction{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #16a085;
    color: white;
    margin-bottom: 0.2rem;
    justify-content: space-between;
    padding-left: 1rem;
    padding-top: 0.6rem;
}
.transaction_div2{
    margin-right: 2rem;
}

.transaction_div2_edit{
    text-align: right;
    margin-right: 1rem;
}

h2{
    margin-left: 0.7rem;
}

#s1{
    background-color: rgb(209,0,0);
}
#s2{
    background-color: #16a085;
}
p{
    position: relative;
    bottom:0.2rem;

}
.transaction_div1_p{
    display: flex;
    justify-content: space-between; 
    margin-top:5px;
}

.transaction-input {
    background: #ccc;
    width: 50%;
    border-radius: 5px;
}
.transaction-inputs {
    background: #ccc;
    width: 100%;
    border-radius: 5px;
}

